/*https://codepen.io/anon/pen/ZvJXBw*/
.loading-wrap {
  position: relative;
  text-align: center;
  margin-top:10%;
  /*top: 50%;*/
  /*left: 50%;*/
  /*-webkit-transform: translate(-50%, -50%);*/
  /*        transform: translate(-50%, -50%);*/
}

.loading-text {
  color: #009C95;
  display: inline-block;
  margin-left: 10px;
  font-size: 24px;
}


.bounceball {
  position: relative;
  display: inline-block;
  height: 57px;
  width: 25px;
}
.bounceball:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #009C95;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
          animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
  0% {
    top: 25px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 25px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 40px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 40px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
